
/* Reset e Configurações Globais */

:root {
   font-family: 'Open Sans', sans-serif;
   line-height: 150%;
   background-color: #fdfdfd;
   color: #333;
}


/* Container Principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Cabeçalho */
header {
    padding: 20px 0;
}

header .nav-link {
    font-size: 16px;
    line-height: 22px;
    font-weight: bold; /* a fonte fica em negrito */
    color: #e1624f;
    text-transform: uppercase; /* a fonte fica com todas as letras em maiúsculo */
}

header h1 {
    font-size: 48px;
    color: #222;
    margin: 10px 0 20px 0;
    font-weight: 700;
}



/* Imagem Principal (Hero) */
.hero-image img {
    width: 100%;
    height: auto;
    border-radius: 28px;
}

.image-caption {
  font-size: 16px;
  line-height: 22px;
  font-style: italic; /* Muda estilo da fonte para itálico */
  text-align: center;
  color: #333333;
  margin-top: 24px;
}

/* Seção de Conteúdo */
.content-section {
    margin-top: 50px;
    border-top: 1px solid #eee;
    padding-top: 40px;
}

.content-section .subtitle {
    font-size: 16px;
    line-height: 22px;
    font-weight: bold; /* a fonte fica em negrito */
    color: #e1624f;
    text-transform: uppercase; /* a fonte fica com todas as letras em maiúsculo */
}

.content-section h2 {
    font-size: 36px;
    color: #222;
    margin: 10px 0 20px 0;
    font-weight: 700;
}

.content-section p {
    font-size: 16px;
    color: #555;
}

/* Artigos de Destinos */


.destination-article img {
    width: 100%;
    height: auto;
    border-radius: 28px;
    margin-bottom: 20px;
}

.destination-article h3 {
    font-size: 28px;
    color: #222;
    margin: 0 0 15px 0;
    font-weight: 700;
}

.destination-article p {
    font-size: 16px;
    color: #555;
}

.tags-container p {
    font-weight: bold;
}

ul li::marker {
  color: #0C51A7;
  font-weight: bold;
}

ul li {
  color: #0C51A7;
  font-weight: bold;
}

ul li + li {
  color: #591B98;
  font-weight: bold;
}

ul li + li + li {
  color: #E95E10;
  font-weight: bold;
}


/* Rodapé */
footer {
    text-align: center;
    margin-top: 60px;
    padding-top: 40px;
    border-top: 1px solid #eee;
}

footer p {
    font-size: 16px;
    line-height: 1.7;
    color: #555;
}

footer .credits {
    margin-top: 30px;
    font-size: 14px;
    color: #888;
}